:root {
  /* general */
  --border-radius: 3px;
  --transition-duration: 0.2s;

  /* light theme */
  --body-background-color: hsl(0, 0%, 98%);
  --accent-color: white;
  --alternate-accent-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 15%);
  --border-color: #e0e0e0;
  --pomodoro-color: hsl(5, 80%, 50%);
  --short-break-color: hsl(110, 60%, 50%);
  --long-break-color: hsl(220, 60%, 50%);
  --link-color: #e90000;
}

.dark-theme {
  --body-background-color: #2a2e31;
  --text-color: hsl(0, 0%, 98%);
  --accent-color: #23272e;
  --alternate-accent-color: #393c44;
  --border-color: #505050;
  --pomodoro-color: hsl(5, 80%, 40%);
  --short-break-color: hsl(110, 60%, 40%);
  /* no need to override long break color */
  --link-color: #ff5c5c;
}

* {
  font-family:  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
  box-sizing: border-box;
}

body {
  width: 100;
  margin: 0;

  color: var(--text-color);
  background: var(--body-background-color);
}

.animate {
  transition-property: background, color, border;
  transition-duration: var(--transition-duration);
}

textarea, input[type=text], input[type=number], button {
  transition-property: background, color, border;
  transition-duration: var(--transition-duration);
  color: var(--text-color);
  background: var(--accent-color);
  -webkit-appearance: none;
}

html, body {
  height: 100%;
}

@media (max-width: 720px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

header {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

header h1 {
  display: inline;
  margin: 0;
}

header .button {
  font-size: 0.9rem;
}

.button {
  background: var(--accent-color);
  font-size: 0.8rem;
  border: 1px solid var(--border-color);
  padding: 10px 15px;
  border-radius: 3px;
}

.button:hover {
  background: var(--body-background-color);
}

.button:active, .button.active {
  background: var(--alternate-accent-color);
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
}
