:root {
  /* general */
  --border-radius: 3px;
  --transition-duration: 0.2s;

  --light-body-background-color: hsl(0, 0%, 98%);
  --light-text-color: hsl(0, 0%, 15%);
  --light-accent-color: white;
  --light-alternate-accent-color: hsl(0, 0%, 95%);
  --light-border-color: #e0e0e0;
  --light-pomodoro-color: hsl(5, 80%, 50%);
  --light-short-break-color: hsl(110, 60%, 50%);
  --light-long-break-color: hsl(220, 60%, 50%);
  --light-link-color: #e90000;

  --dark-body-background-color: #2a2e31;
  --dark-text-color: hsl(0, 0%, 98%);
  --dark-accent-color: #23272e;
  --dark-alternate-accent-color: #393c44;
  --dark-border-color: #505050;
  --dark-pomodoro-color: hsl(5, 80%, 40%);
  --dark-short-break-color: hsl(110, 60%, 40%);
  --dark-long-break-color: hsl(220, 60%, 50%);
  --dark-link-color: #ff5c5c;

  /* Default to light theme */
  --body-background-color: var(--light-body-background-color);
  --text-color: var(--light-text-color);
  --accent-color: var(--light-accent-color);
  --alternate-accent-color: var(--light-alternate-accent-color);
  --border-color: var(--light-border-color);
  --pomodoro-color: var(--light-pomodoro-color);
  --short-break-color: var(--light-short-break-color);
  --long-break-color: var(--light-long-break-color);
  --link-color: var(--light-link-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: var(--dark-body-background-color);
    --text-color: var(--dark-text-color);
    --accent-color: var(--dark-accent-color);
    --alternate-accent-color: var(--dark-alternate-accent-color);
    --border-color: var(--dark-border-color);
    --pomodoro-color: var(--dark-pomodoro-color);
    --short-break-color: var(--dark-short-break-color);
    --long-break-color: var(--dark-long-break-color);
    --link-color: var(--dark-link-color);
  }

  /* Override */
  .light-theme {
    --body-background-color: var(--light-body-background-color);
    --text-color: var(--light-text-color);
    --accent-color: var(--light-accent-color);
    --alternate-accent-color: var(--light-alternate-accent-color);
    --border-color: var(--light-border-color);
    --pomodoro-color: var(--light-pomodoro-color);
    --short-break-color: var(--light-short-break-color);
    --long-break-color: var(--light-long-break-color);
    --link-color: var(--light-link-color);
  }
}

/* Override */
.dark-theme {
  --body-background-color: var(--dark-body-background-color);
  --text-color: var(--dark-text-color);
  --accent-color: var(--dark-accent-color);
  --alternate-accent-color: var(--dark-alternate-accent-color);
  --border-color: var(--dark-border-color);
  --pomodoro-color: var(--dark-pomodoro-color);
  --short-break-color: var(--dark-short-break-color);
  --long-break-color: var(--dark-long-break-color);
  --link-color: var(--dark-link-color);
}

* {
  font-family:  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
  box-sizing: border-box;
}

body {
  width: 100;
  margin: 0;

  color: var(--text-color);
  background: var(--body-background-color);
}

.animate {
  transition-property: background, color, border;
  transition-duration: var(--transition-duration);
}

textarea, input[type=text], input[type=number], button, select {
  transition-property: background, color, border;
  transition-duration: var(--transition-duration);
  color: var(--text-color);
  background: var(--accent-color);
}

html, body {
  height: 100%;
}

@media (max-width: 720px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

header {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

header h1 {
  display: inline;
  margin: 0;
}

header .button {
  font-size: 0.9rem;
}

.button {
  background: var(--accent-color);
  font-size: 0.8rem;
  border: 1px solid var(--border-color);
  padding: 10px 15px;
  border-radius: 3px;
}

.button:hover {
  background: var(--body-background-color);
}

.button:active, .button.active {
  background: var(--alternate-accent-color);
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
}
